
@{
    ViewBag.Title = "KendoFactura";
    Layout = "~/Views/Shared/_LayoutBDLavacar.cshtml";
}

<h2>KendoFactura</h2>

<div id="divKendoGrid">
</div>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/Reportes/Generico.js"></script>
    <script src="~/Scripts/Reportes/KendoFactura.js"></script>
}