
@{
    ViewBag.Title = "ModificaFactura";
    Layout = "~/Views/Shared/_LayoutBDLavacar.cshtml";
}

<h2>ModificaFactura</h2>

<form id="frmServicioFacturaModifica" method="post">

    <div class="form-group">
        <label>Servicio</label>
        <input type="text" name="Tipo_S" id="Tipo_S" class="form-control" value="@Model.Tipo_S" />
    </div>

    <div class="form-group">
        <label>Cantidad</label>
        <input type="text" name="Cantidad_FVS" id="Cantidad_FVS" class="form-control" value="@Model.Cantidad_FVS" />
    </div>

    <div class="form-group">
        <label>Estado</label>
        <select name="Estado_FVS" id="Estado_FVS" class="form-control">
            <option value="">SELECCIONE EL ESTADO</option>
            <option value="">Facturado</option>
            <option value="">Anulado</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Modificar" id="btnModificar" class="btn btn-info" />
    </div>

</form>
