@model BDLavacar.Models.sp_RetornaFacturaServicio_Result
@{
    ViewBag.Title = "MuestraServicios";
    Layout = "~/Views/Shared/_LayoutBDLavacar.cshtml";
}
<h2>MuestraServicios</h2>

<div id="divKendoGrid">

</div>

@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/Reportes/Generico.js"></script>
    <script src="~/Scripts/Reportes/KendoFacturaXServicio.js"></script>
}
