<form id="Reportes" method="post">
    <label>Reporte Vehículos por cliente</label>
    <a href="~/Reportes/VehiculosCliente" class="btn btn-info">Mostrar</a>

    <br />
    <label>Servicios por cliente</label>
    <a href="~/Reportes/Servicioscliente" class="btn btn-info">Mostrar</a>
    <br />
    <label>Servicios por vehículo</label>
    <a href="~/Reportes/ServiciosVehiculo" class="btn btn-info">Mostrar</a>

</form>



