
@{
    ViewBag.Title = "VehiculosClienteID";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>VehiculosClienteID</h2>

<div id="divKendoGrid">

</div>
@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/Reportes/Generico.js"></script>
    <script src="~/Scripts/Reportes/KendoVehiculoXClienteID.js"></script>
}

